.stats {
  position: absolute;
  top: 44px;
  left: 0;
  background-color: white;
  width: 45vh;
}

.stats span {
  text-align: center;
}

.stats .plus {
  color: green;
}

.stats .moins {
  color: red;
}

.stats .total {
  color: blue;
}
