<ion-view view-title="{{excursion.data.name}} {{ excursion.isArchived() ? '<small>(Archivée)</small>' : ''}}" id="excursion-details">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="excursion.openExcursionMenu($event)">
			<i class="icon ion-android-more-vertical"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-class="{'archivedAt': excursion.isArchived()}">
		<div class="excursion-map-container">
			<div class="white-dropdown" ng-if="excursion.activeFAB"></div>
			<leaflet id="{{ excursion.data.qrId }}" maxbounds="excursion.mapConfig.maxbounds"
			         defaults="excursion.mapConfig.defaults"
			         tiles="excursion.mapConfig.tiles" center="excursion.mapConfig.center"
			         geojson="excursion.mapConfig.geojson" geojson-nested="true" markers="excursion.mapConfig.markers"
			         bounds="excursion.mapConfig.bounds">
			
			</leaflet>
			<position-badge state="excursion.positionState" show-label="once"
			                ng-click="excursion.togglePositionWatch()"></position-badge>
		</div>
		<div class="list">
			<div class="item item-button-right">
				<span
						class="bio-badge-{{excursion.data.status}} badge excursion-status">{{excursion.data.status | status}}</span>
				<button id="ar-action" class="button button-assertive" on-release="excursion.actionButtonClick()"
				        ng-disabled="excursion.data.archivedAt !== null"><i
						class="icon ion-iphone"></i>{{excursion.data.status | excursionActionButton}}
				</button>
			</div>
		</div>
		<div class="padding">
			<div class="row" ng-if="excursion.data.startedAt">
				<div class="col text-left">Commencée le</div>
				<div class="col text-right">{{excursion.data.startedAt | date:'dd.MM.yyyy'}} à {{excursion.data.startedAt |
					date:'HH:mm'}}
				</div>
			</div>
			<div class="row" ng-if="excursion.data.finishedAt">
				<div class="col text-left">Terminée le</div>
				<div class="col text-right">{{excursion.data.finishedAt | date:'dd.MM.yyyy'}} à {{excursion.data.finishedAt |
					date:'HH:mm'}}
				</div>
			</div>
			<div class="row">
				<div class="col text-left">Créée le</div>
				<div class="col text-right">{{excursion.data.date | date : 'dd.MM.yyyy'}}</div>
			</div>
			<div class="row">
				<div class="col text-left">Créée par</div>
				<div class="col text-right">{{excursion.data.createdBy}}</div>
			</div>
			<div class="themes">
				<div class="row">
					<div class="col text-left">Thèmes disponibles</div>
				</div>
				<div class="row">
					<div class="col text-right">
						<span ng-repeat="theme in excursion.data.themes" class="badge badge-stable">{{theme}}</span>
					</div>
				</div>
			</div>
			<!--<div class="row zones">-->
				<!--<div class="col text-left">Zones disponibles</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<div class="col text-right">-->
					<!--<div class="button-bar">-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(1)}"-->
						   <!--ng-click="excursion.centerMapOnZone(1)">n°1</a>-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(2)}"-->
						   <!--ng-click="excursion.centerMapOnZone(2)">n°2</a>-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(3)}"-->
						   <!--ng-click="excursion.centerMapOnZone(3)">n°3</a>-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(4)}"-->
						   <!--ng-click="excursion.centerMapOnZone(4)">n°4</a>-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(5)}"-->
						   <!--ng-click="excursion.centerMapOnZone(5)">n°5</a>-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(6)}"-->
						   <!--ng-click="excursion.centerMapOnZone(6)">n°6</a>-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(7)}"-->
						   <!--ng-click="excursion.centerMapOnZone(7)">n°7</a>-->
						<!--<a class="button button-small button-royal"-->
						   <!--ng-class="{'disabled button-outline': excursion.zoneIsNotAvailable(8)}"-->
						   <!--ng-click="excursion.centerMapOnZone(8)">n°8</a>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<div class="list list-inset">
				<a class="item item-icon-right" ng-class="{'disabled': excursion.nbSeenPoi === 0}"
				   ng-click="excursion.goToSeenList()" ng-disabled="excursion.nbSeenPoi === 0">
					{{excursion.nbSeenPoi || 'Aucune'}} {{excursion.nbSeenPoi > 0 ? 'E' : 'e'}}spèce{{excursion.nbSeenPoi > 0 ? 's' : ''}} vue{{excursion.nbSeenPoi > 0 ? 's' : ''}}
					<i class="icon ion-chevron-right"></i>
				</a>
			</div>
			
			
			<!-- Test downloadzip

			<button ng-if="excursion.data.statut === 'En attente' && excursion.downloadProgress === 'Réussit'" class="button button-balanced button-block button-outline"
							on-release="excursion.launchAR()">Démarrer
			</button>
			<button ng-if="excursion.data.statut === 'En cours' && excursion.downloadProgress === 'Réussit'" class="button button-balanced button-block button-outline"
							on-release="excursion.launchAR()">Reprendre
			</button>
			<button ng-if="excursion.data.statut === 'Terminée' && excursion.downloadProgress === 'Réussit'" class="button button-balanced button-block button-outline"
							on-release="excursion.launchAR()">Compte-rendu
			</button>

			<button ng-if="excursion.downloadProgress != 'Réussit'" class="button button-balanced button-block"
							ng-click="excursion.getZip({{excursion.data.id}})">{{excursion.downloadProgress}}
			</button>


			<img src="cdvfile://localhost/persistent/{{excursion.data.id}}/oiseaux/50_700px.jpg" /> -->
		</div>
	</ion-content>
</ion-view>
