#test-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100%;
  text-align: right; }

option.placeholder {
  color: #c0c0c0; }

.fabs {
  position: fixed;
  right: 16px;
  display: flex;
  flex-direction: column;
  bottom: 0; }
  .fabs.with-manual-end-btn {
    bottom: 47px; }
  .fabs button {
    border: none;
    font-size: 2em;
    color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
    background-color: #11c1f3;
    margin-bottom: 16px; }

.button.manual-end {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0 -1px 3px 0px rgba(41, 41, 41, 0.3);
  -moz-box-shadow: 0 -1px 3px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 0 -1px 3px 0px rgba(41, 41, 41, 0.3); }

.debug-icon-size {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0; }

.debug-altitude {
  position: absolute;
  top: calc(20vh + 4px);
  right: 0;
  padding: 5px 10px;
  width: calc(20vh + 3px);
  background-color: #33cd5f;
  color: white; }

.stats {
  position: absolute;
  top: 44px;
  left: 0;
  background-color: white;
  width: 45vh; }
  .stats span {
    text-align: center; }
  .stats .plus {
    color: green; }
  .stats .moins {
    color: red; }
  .stats .total {
    color: blue; }

.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.bigmap-container {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; }
  .bigmap-container .leaflet-container {
    height: 100%;
    width: 100%; }
  .bigmap-container .leaflet-control-container {
    display: none; }

.buttons {
  margin: auto; }

.red {
  border-radius: 120px;
  opacity: .75;
  background-color: #FF0000; }

.blue {
  border-radius: 120px;
  opacity: .75;
  background-color: #0000FF; }

#poi-filters .poi-theme img {
  position: absolute;
  vertical-align: middle;
  top: 10%;
  right: 15px;
  height: 80%; }

.minimap-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  border: 2px solid #33cd5f; }

.minimap-container .leaflet-container {
  height: 20vh;
  width: 20vh;
  /*-webkit-border-radius: 100px;*/
  /*-moz-border-radius: 100px;*/
  /*border-radius: 100px;*/
  /*-webkit-mask-image: url(../assets/mask.svg);*/ }

.minimap-container .leaflet-control-container {
  display: none; }

.minimap-container .bigmap-opener {
  background-color: rgba(255, 255, 255, 0);
  height: 30vw;
  width: 30vw;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0; }

#mini-map-orientation {
  position: fixed;
  top: 0;
  right: 0;
  width: 140px;
  height: 140px;
  z-index: 1; }
  #mini-map-orientation img {
    width: 140px;
    height: 140px; }
