<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,target-densitydpi=device-dpi"
          name="viewport">

    <title>Sortie - AR View</title>
    <script src="architect://architect.js"></script>
    <script src="../../lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="../ar-back-button-directive.js"></script>
    <script src="../ar-lib/ar-lib.module.js"></script>
    <script src="../ar-lib/ar-lib.do.js"></script>
    <script src="../ar-lib/ar-lib.markers.js"></script>
    <script src="../ar-lib/ar-lib.poi.js"></script>
    <script src="../ar-lib/ar-lib.beacon.js"></script>
    <script src="main.module.js"></script>
    <script src="main.world.js"></script>
    <script src="main.controllers.js"></script>

    <link rel="stylesheet" href="../../lib/ionic/css/ionic.min.css">
    <!--<link rel="stylesheet" href="../lib/hack.css">-->

    <style>
      #test-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 100%;
        text-align: right;
      }
    </style>
  </head>
  <body ng-app="ar">
    <ion-header-bar class="bar-balanced" ng-controller="baseCtrl as base">
      <button class="button back-button button-icon" ng-click="base.closeAR()">
        <i class="icon ion-android-arrow-back"></i>
      </button>
      <h1 class="title">Ionic + Wikitude</h1>
      <button class="button button-icon" ng-click="base.showOptModal()">
        <i class="icon ion-android-options"></i>
      </button>
    </ion-header-bar>
    <div id="test-button" ng-controller="buttonCtrl as button">
      <button class="button button-royal" on-release="button.loadPois()">Load</button>
      <button class="button button-royal" on-release="button.show()">Show</button>
      <button class="button button-royal" on-release="button.nearestBeacon()">Scan</button>
      <button class="button button-royal" on-release="button.debug()">Debug</button>
    </div>
  </body>
</html>
