#test-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
    text-align: right;
}

option.placeholder {
    color: #c0c0c0;
}

.filters, .debug {
    border: none;
    font-size: 2em;
    color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 16px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.filters {
    background-color: #11c1f3;
    right: 16px;
}

.debug {
    background-color: #11c1f3;
    right: 88px;
}
