<ion-modal-view ng-controller="OptCtrl as opt">
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Dev Options</h1>
    <button class="button button-clear button-primary" ng-click="base.modal.hide()">Fermer</button>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Position prédéfinies
      </div>
      <a class="item" href="#" ng-click="opt.balises(1)">Balise 1</a>
      <a class="item" href="#" ng-click="opt.balises(2)">Balise 2</a>
      <a class="item" href="#" ng-click="opt.heig()">HEIG-VD, St-Roch</a>
      <a class="item" href="#" ng-click="opt.plage()">Plage d'Yverdon</a>
      <a class="item" href="#" ng-click="opt.cheseaux()">HEIG-VD, Cheseaux</a>
      <a class="item" href="#" ng-click="opt.champPittet()">Fin du sentier</a>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Position personnalisée
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Latitude" ng-model="opt.position.lat">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Longitude" ng-model="opt.position.lon">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Altitude" ng-model="opt.position.alt">
      </label>
      <button class="button button-block button-assertive" ng-click="opt.custom()">Définir</button>
    </div>
  </ion-content>
</ion-modal-view>
