<ion-view view-title="{{outing.data.name}}">
  <ion-content>
    <div>
      <leaflet id="map" maxbounds="outing.map.maxbounds" defaults="outing.map.defaults" tiles="outing.map.tiles"
               center="outing.map.center" geojson="outing.map.path" markers="outing.map.markers"></leaflet>
    </div>
    <div class="padding">
      <div class="row">
        <div class="col text-left">Créée le</div>
        <div class="col text-right">{{outing.data.date}}</div>
      </div>
      <div class="row">
        <div class="col text-left">Créée par</div>
        <div class="col text-right">{{outing.data.creator}}</div>
      </div>
      <div class="row">
        <div class="col text-left">Statut</div>
        <div class="col text-right">{{outing.data.statut}}</div>
      </div>

      <button ng-if="outing.data.statut === 'En attente'" class="button button-balanced button-block button-outline"
              on-release="outing.launchAR()">Démarrer
      </button>
      <button ng-if="outing.data.statut === 'En cours'" class="button button-balanced button-block button-outline"
              on-release="outing.launchAR()">Reprendre
      </button>
      <button ng-if="outing.data.statut === 'Terminée'" class="button button-balanced button-block button-outline"
              on-release="outing.launchAR()">Compte-rendu
      </button>
    </div>
  </ion-content>
</ion-view>
