<div class="modal">
  <ion-header-bar>
    <h1 class="title">Vérification des informations</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">N° de la sortie</span>
        <input type="text" value="{{infos.session}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nom de participant</span>
        <input type="text" value="{{infos.participant}}" disabled>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Sortie crée par </span>
        <input type="text" value="{{infos.teacher}}" disabled>
      </label>
    </div>
    <div class="button-bar">
      <a class="button button-assertive button-outline" on-release="closeModal()">Annuler</a>
      <a class="button button-balanced" on-release="validateQR()">Valider</a>
    </div>
  </ion-content>
</div>
