<ion-view view-title="Mes Sorties">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="tab.openExcursionsMenu()">
			<i class="icon ion-android-more-vertical"></i>
		</button>
	</ion-nav-buttons>
	<ion-content class="padding" on-swipe-right="tab.nextTab()" on-swipe-left="tab.previousTab()">
		<div ng-if="!tab.loading && tab.data.length >= 1" class="excursions-list">
			<div class="list card" ng-repeat="excursion in tab.data" ng-class="{'archived': excursion.archived_at !== null}" ng-show="tab.withArchive || excursion.archived_at === null">
				<a class="item" href="#/app/excursions-list/{{excursion.id}}">
					<h2><i class="icon ion-android-archive" ng-if="excursion.archived_at !== null"></i>{{ ::excursion.name }}</h2>
					<p>{{ ::excursion.date | date : 'dd.MM.yyyy' }}</p>
					<span ng-if="excursion.is_new" class="badge badge-positive">Nouveau</span>
				</a>
				<div class="item item-body">
					<div><i class="icon ion-person"></i> {{excursion.participant.name}}</div>
					<span class="bio-badge-{{excursion.status}} badge excursion-status">{{excursion.status | status}}</span>
					<div class="action-buttons">
						<button class="button button-clear button-small pull-right" ng-click="tab.showExcursionActions(excursion)">
							<i class="icon ion-android-more-horizontal"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="!tab.loading && tab.data.length == 0" id="no-excursion">
			<i class="icon ion-leaf"></i>
			<span>Aucune sortie correspondante...</span>
		</div>
		<p ng-if="tab.loading">Chargement</p>
	</ion-content>
</ion-view>
