<ion-view view-title="Mes Sorties">
  <ion-content class="padding" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <ion-list ng-if="!ctrl.loading && ctrl.outings.length >= 1">
      <ion-item ng-repeat="outing in ctrl.outings" href="#/app/outings/{{outing.id}}">
        <h2>{{outing.name}}</h2>
        <p>Date : {{outing.date}}</p>
        <p>Créée par {{outing.created_by}}</p>
        <p>Statut : {{outing.status | status}}</p>
      </ion-item>
    </ion-list>
    <p ng-if="!ctrl.loading && ctrl.outings.length == 0">Aucune sortie existante</p>
	  <p ng-if="ctrl.loading">Chargement</p>
  </ion-content>
</ion-view>
