<ion-modal-view ng-controller="PoiModalCtrl as poiCtrl" class="poi-modal">
	<ion-header-bar class="bar bar-header bar-{{::poiCtrl.classFromTheme(poiCtrl.content.theme_name)}}">
		<button class="button back-button button-icon" ng-class="{'disabled': !poiCtrl.poi}" ng-click="poiCtrl.remove()">
			<i class="icon ion-android-arrow-back"></i>
		</button>
		<h1 class="title">{{::poiCtrl.content.common_name.fr}}</h1>
		<button class="button button-balanced" ng-click="poiCtrl.setPoiSeen()">
			<i class="icon ion-checkmark"></i>
			Vu !
		</button>
	</ion-header-bar>
	<ion-header-bar class="bar bar-subheader bar-{{::poiCtrl.classFromTheme(poiCtrl.content.theme_name)}} lighter">
		<h2 class="title">{{::poiCtrl.content.theme_name | themes}}</h2>
	</ion-header-bar>
	<ion-content>
		<div class="img-wrapper">
			<img ng-src="{{poiCtrl.getImageSource(poiCtrl.content.id_specie)}}" alt="photo" class="poi-photo">
		</div>
		<div class="list card">
			<div class="item item-button-right">
				Nom Commun<span style="float: right">{{poiCtrl.content.common_name.fr}}</span>
				<button class="button button-positive button-small button-clear" ng-click="poiCtrl.updateCommomName()">
					<img id="flag-icon" ng-src="{{poiCtrl.flagUrl}}" alt="{{poiCtrl.selectedLanguage}}">
				</button>
			</div>
			<div class="item">Nom Scientifique<span style="float: right">{{::poiCtrl.content.scientific_name}}</span></div>
			<div class="item">Règne<span style="float: right">{{::poiCtrl.content.reign_name}}</span></div>
			<div class="item">Division<span style="float: right">{{::poiCtrl.content.division_name}}</span></div>
			<div class="item">Famille<span style="float: right">{{::poiCtrl.content.family_name}}</span></div>
			<div class="item">Taille<span style="float: right">{{::poiCtrl.content.height}}m</span></div>
			<div class="item">Floraison<span style="float: right">{{::poiCtrl.content.period_start | periodToMonth}} à
				{{::poiCtrl.content.period_end | periodToMonth}}</span>
			</div>
			<div class="item item-body">
				<h2>Description</h2>
				<h3>Caractéristiques physiques</h3>
				<p>{{::poiCtrl.content.physical_characteristics}}</p>
				<h3>Caractéristiques de l'habitat</h3>
				<p>{{::poiCtrl.content.habitat_characteristics}}</p>
			</div>
			<div class="item item-body" ng-if="poiCtrl.content.anecdote">
				<h2>Anecdote</h2>
				<p>{{::poiCtrl.content.anecdote}}</p>
			</div>
		</div>
		<div class="list card">
			<a class="item item-icon-right positive" ng-click="poiCtrl.openInBrowser()">Plus sur le Web<i
					class="icon ion-share"></i></a>
		</div>
		<div class="credit text-right padding {{::poiCtrl.classFromTheme(poiCtrl.content.theme_name)}}">
			Information fournie par {{::poiCtrl.content.owner_name}}.
		</div>
	</ion-content>
</ion-modal-view>
