<ion-modal-view ng-controller="PoiModalCtrl as poiCtrl" class="poi-modal">
	<ion-header-bar class="bar bar-header bar-{{::poiCtrl.classFromTheme(poiCtrl.content.theme_name)}}">
		<button class="button back-button button-icon" ng-class="{'disabled': !poiCtrl.poi}" ng-click="poiCtrl.remove()">
			<i class="icon ion-android-arrow-back"></i>
		</button>
		<h1 class="title">{{::poiCtrl.content.common_name.fr}}</h1>
		<button class="button button-balanced" ng-click="poiCtrl.setPoiSeen()">
			<i class="icon ion-checkmark"></i>
			Vu !
		</button>
	</ion-header-bar>
	<ion-header-bar class="bar bar-subheader bar-{{::poiCtrl.classFromTheme(poiCtrl.content.theme_name)}} lighter">
		<h2 class="title">{{::poiCtrl.content.theme_name | themes}}</h2>
	</ion-header-bar>
	<ion-content>
		<!--<div class="img-wrapper">-->
			<!--<img ng-src="{{poiCtrl.getImageSource(poiCtrl.content.id_specie)}}" alt="photo" class="poi-photo">-->
		<!--</div>-->
		<div ng-include="'../../utils/poi-card/poi-card.html'"></div>
	</ion-content>
</ion-modal-view>
