<ion-view view-title="Activity Tracker">
	<ion-content>
		<button class="button button-block" ng-click="atc.newFile()">Déplacer le log dans les uploads</button>
		<button class="button button-block" ng-click="atc.newLine()">Nouvelle ligne dans fichier courant</button>
		<button class="button button-block" ng-click="atc.debugLog()">Debug current log</button>
		<button class="button button-block" ng-click="atc.reset()">Delete all</button>
		<button class="button button-block" ng-click="atc.testConflict()">Test conflict</button>
		<button class="button button-block" ng-click="atc.upload()">Upload log files</button>
	</ion-content>
</ion-view>
